# Dependencies
node_modules/

# Build output
dist/

# Vite cache
.vite/

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Lokale env
*.local
.env
.env.*

# Git installer (hoort niet in de repo)
Git-*.exe
